In [1]:
import pandas as pd
import numpy as np
airlines = pd.read_csv('C:/Users/regi_/Downloads/airlines.csv')
airports = pd.read_csv('C:/Users/regi_/Downloads/airports.csv')
flights = pd.read_csv('C:/Users/regi_/Downloads/flights.csv') #should we read it from csv or link online

C:\Users\regi_\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
import pandas as pd
flights = pd.read_csv('C:/Users/regi_/Downloads/flights.csv') #remove later

In [3]:
airlines

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [4]:
print(airlines.dtypes)
type(airlines['IATA_CODE'][0])

IATA_CODE    object
AIRLINE      object
dtype: object

str

In [5]:
airports[:10]

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
5,ACK,Nantucket Memorial Airport,Nantucket,MA,USA,41.25305,-70.06018
6,ACT,Waco Regional Airport,Waco,TX,USA,31.61129,-97.23052
7,ACV,Arcata Airport,Arcata/Eureka,CA,USA,40.97812,-124.10862
8,ACY,Atlantic City International Airport,Atlantic City,NJ,USA,39.45758,-74.57717
9,ADK,Adak Airport,Adak,AK,USA,51.87796,-176.64603

In [6]:
airports.info()
type(airports["AIRPORT"][0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 7 columns):
IATA_CODE    322 non-null object
AIRPORT      322 non-null object
CITY         322 non-null object
STATE        322 non-null object
COUNTRY      322 non-null object
LATITUDE     319 non-null float64
LONGITUDE    319 non-null float64
dtypes: float64(2), object(5)
memory usage: 17.7+ KB

str

In [40]:
pd.set_option('display.max_columns', None)
flights.head()

,FLIGHT_DATE,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015-01-01,4,AS,ANC,SEA,00:05:00,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,04:30:00,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-01,4,AA,LAX,PBI,00:10:00,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,07:50:00,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-01,4,US,SFO,CLT,00:20:00,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,08:06:00,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-01,4,AA,LAX,MIA,00:20:00,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,08:05:00,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-01,4,AS,SEA,ANC,00:25:00,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,03:20:00,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
flights.shape

(5819079, 31)

In [9]:
flights = flights.drop(["FLIGHT_NUMBER", "TAIL_NUMBER"], axis=1) 
#flight number and tail number won't give us any useful information.

In [10]:
date_df = pd.DataFrame({'year': flights["YEAR"], 
                       'month': flights["MONTH"], 
                       'day': flights["DAY"]})
pd.to_datetime(date_df)
flights.insert(0, "FLIGHT_DATE", pd.to_datetime(date_df), True)

In [11]:
flights = flights.drop(["YEAR", "MONTH", "DAY"], axis = 1)

In [12]:
def to_time(x):
    x = str(x)
    k = x.split(".")[0]
    hour = k[:-2]
    if hour == '':
        hour = '00'
    minute = k[-2:]
    second = '00'
    #second = x.split(".")[1]
    time = "{:02.0f}:{:02.0f}:{:02.0f}".format(int(hour), int(minute), int(second))
    return time

In [13]:
flights["SCHEDULED_DEPARTURE"] = flights["SCHEDULED_DEPARTURE"].astype('float')
flights["SCHEDULED_ARRIVAL"] = flights["SCHEDULED_ARRIVAL"].astype('float')
flights["SCHEDULED_ARRIVAL"] = flights["SCHEDULED_ARRIVAL"].apply(to_time)
flights["SCHEDULED_DEPARTURE"] = flights["SCHEDULED_DEPARTURE"].apply(to_time)

In [14]:
flights.isna().sum()

FLIGHT_DATE                  0
DAY_OF_WEEK                  0
AIRLINE                      0
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

In [15]:
flights["DAY_OF_WEEK"] = flights["DAY_OF_WEEK"].astype('str') #convert into categorical

# cancellation dataframe

In [16]:
cancels = flights[flights["CANCELLED"]==1]

In [17]:
cancels.isna().sum()

FLIGHT_DATE                0
DAY_OF_WEEK                0
AIRLINE                    0
ORIGIN_AIRPORT             0
DESTINATION_AIRPORT        0
SCHEDULED_DEPARTURE        0
DEPARTURE_TIME         86153
DEPARTURE_DELAY        86153
TAXI_OUT               89047
WHEELS_OFF             89047
SCHEDULED_TIME             5
ELAPSED_TIME           89884
AIR_TIME               89884
DISTANCE                   0
WHEELS_ON              89884
TAXI_IN                89884
SCHEDULED_ARRIVAL          0
ARRIVAL_TIME           89884
ARRIVAL_DELAY          89884
DIVERTED                   0
CANCELLED                  0
CANCELLATION_REASON        0
AIR_SYSTEM_DELAY       89884
SECURITY_DELAY         89884
AIRLINE_DELAY          89884
LATE_AIRCRAFT_DELAY    89884
WEATHER_DELAY          89884
dtype: int64

In [18]:
cancels.shape

(89884, 27)

In [19]:
len(cancels)*100/len(flights) #1.5 % of flights was canceled

1.5446430612129514

In [20]:
cancels = cancels.drop(["DEPARTURE_TIME", "DEPARTURE_DELAY", "DIVERTED", "CANCELLED", "ARRIVAL_TIME", "ARRIVAL_DELAY", "WHEELS_ON", "TAXI_IN", "ELAPSED_TIME", "AIR_TIME", "TAXI_OUT", "WHEELS_OFF", "AIR_SYSTEM_DELAY", "SECURITY_DELAY", "AIRLINE_DELAY", "LATE_AIRCRAFT_DELAY", "WEATHER_DELAY"], axis=1)

In [21]:
cancels.head()

,FLIGHT_DATE,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,CANCELLATION_REASON
32,2015-01-01,4,AS,ANC,SEA,01:35:00,205.0,1448,06:00:00,A
42,2015-01-01,4,AA,PHX,DFW,02:00:00,120.0,868,05:00:00,B
68,2015-01-01,4,OO,MAF,IAH,05:10:00,87.0,429,06:37:00,B
82,2015-01-01,4,MQ,SGF,DFW,05:25:00,95.0,364,07:00:00,B
90,2015-01-01,4,OO,RDD,SFO,05:30:00,90.0,199,07:00:00,A

In [22]:
cancels.dtypes

FLIGHT_DATE            datetime64[ns]
DAY_OF_WEEK                    object
AIRLINE                        object
ORIGIN_AIRPORT                 object
DESTINATION_AIRPORT            object
SCHEDULED_DEPARTURE            object
SCHEDULED_TIME                float64
DISTANCE                        int64
SCHEDULED_ARRIVAL              object
CANCELLATION_REASON            object
dtype: object

# all delays, including <15 mins and without explanation

In [23]:
delayed = flights[flights["ARRIVAL_DELAY"] > 0]

In [24]:
delayed = delayed.drop(['CANCELLATION_REASON', 'CANCELLED', 'DIVERTED'], axis = 1)

In [25]:
delayed["ARRIVAL_TIME"] = delayed["ARRIVAL_TIME"].apply(to_time)
delayed["WHEELS_ON"] = delayed["WHEELS_ON"].apply(to_time)
delayed["WHEELS_OFF"] = delayed["WHEELS_OFF"].apply(to_time)
delayed["DEPARTURE_TIME"] = delayed["DEPARTURE_TIME"].apply(to_time)

In [26]:
delayed.shape

(2086896, 24)

In [27]:
delays = delayed[delayed["AIR_SYSTEM_DELAY"].notnull()] #for later analysis

In [28]:
columns = ["AIR_SYSTEM_DELAY", "SECURITY_DELAY", "AIRLINE_DELAY", "LATE_AIRCRAFT_DELAY", "WEATHER_DELAY"]
delayed[columns] = delayed[columns].fillna(0)
#Nan in those columns means the delay caused by that particular reason is 0 minutes.

In [29]:
delayed.head()

,FLIGHT_DATE,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
2,2015-01-01,4,US,SFO,CLT,00:20:00,00:18:00,-2.0,16.0,00:34:00,286.0,293.0,266.0,2296,08:00:00,11.0,08:06:00,08:11:00,5.0,0.0,0.0,0.0,0.0,0.0
5,2015-01-01,4,DL,SFO,MSP,00:25:00,00:20:00,-5.0,18.0,00:38:00,217.0,230.0,206.0,1589,06:04:00,6.0,06:02:00,06:10:00,8.0,0.0,0.0,0.0,0.0,0.0
14,2015-01-01,4,DL,SEA,MSP,00:40:00,00:39:00,-1.0,28.0,01:07:00,189.0,198.0,166.0,1399,05:53:00,4.0,05:49:00,05:57:00,8.0,0.0,0.0,0.0,0.0,0.0
20,2015-01-01,4,NK,LAS,MCI,00:55:00,01:20:00,25.0,11.0,01:31:00,162.0,143.0,128.0,1139,05:39:00,4.0,05:37:00,05:43:00,6.0,0.0,0.0,0.0,0.0,0.0
21,2015-01-01,4,AA,SEA,MIA,01:00:00,00:52:00,-8.0,30.0,01:22:00,338.0,347.0,311.0,2724,09:33:00,6.0,09:38:00,09:39:00,1.0,0.0,0.0,0.0,0.0,0.0

In [30]:
delayed.isna().sum()

FLIGHT_DATE            0
DAY_OF_WEEK            0
AIRLINE                0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
AIR_SYSTEM_DELAY       0
SECURITY_DELAY         0
AIRLINE_DELAY          0
LATE_AIRCRAFT_DELAY    0
WEATHER_DELAY          0
dtype: int64

In [31]:
len(delayed[delayed["ARRIVAL_DELAY"]<15])

1023457

# delays dataframe (arrival delay >= 15 mins, reason explained)

In [32]:
# 1,023,457 delays that are less than 15 min and don't have a reason explained.

In [33]:
# delays = flights[flights["AIR_SYSTEM_DELAY"].notnull()]

In [34]:
#should be run in the previous chapter
#delays = delayed[delayed["AIR_SYSTEM_DELAY"].notnull()]

In [35]:
delays.shape

(1063439, 24)

In [36]:
delays.head(10)

,FLIGHT_DATE,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
27,2015-01-01,4,NK,MSP,FLL,01:15:00,01:27:00,12.0,14.0,01:41:00,207.0,220.0,166.0,1487,05:27:00,40.0,05:42:00,06:07:00,25.0,25.0,0.0,0.0,0.0,0.0
30,2015-01-01,4,NK,PHX,ORD,01:25:00,02:37:00,72.0,9.0,02:46:00,204.0,175.0,156.0,1440,06:22:00,10.0,05:49:00,06:32:00,43.0,43.0,0.0,0.0,0.0,0.0
35,2015-01-01,4,HA,LAS,HNL,01:45:00,01:45:00,0.0,16.0,02:01:00,370.0,385.0,361.0,2762,06:02:00,8.0,05:55:00,06:10:00,15.0,0.0,0.0,15.0,0.0,0.0
50,2015-01-01,4,B6,BQN,MCO,03:07:00,03:04:00,-3.0,25.0,03:29:00,173.0,196.0,160.0,1129,05:09:00,11.0,05:00:00,05:20:00,20.0,20.0,0.0,0.0,0.0,0.0
52,2015-01-01,4,B6,SJU,MCO,04:00:00,05:35:00,95.0,9.0,05:44:00,185.0,175.0,163.0,1189,07:27:00,3.0,06:05:00,07:30:00,85.0,0.0,0.0,85.0,0.0,0.0
55,2015-01-01,4,B6,SJU,BDL,04:38:00,05:50:00,72.0,15.0,06:05:00,241.0,258.0,237.0,1666,09:02:00,6.0,07:39:00,09:08:00,89.0,17.0,0.0,72.0,0.0,0.0
70,2015-01-01,4,AA,DFW,MIA,05:15:00,07:03:00,108.0,15.0,07:18:00,161.0,155.0,133.0,1121,10:31:00,7.0,08:56:00,10:38:00,102.0,0.0,0.0,0.0,0.0,102.0
73,2015-01-01,4,US,PDX,PHX,05:20:00,06:20:00,60.0,13.0,06:33:00,150.0,150.0,132.0,1009,09:45:00,5.0,08:50:00,09:50:00,60.0,0.0,0.0,60.0,0.0,0.0
74,2015-01-01,4,AA,IAH,MIA,05:20:00,06:18:00,58.0,19.0,06:37:00,141.0,137.0,111.0,964,09:28:00,7.0,08:41:00,09:35:00,54.0,0.0,0.0,54.0,0.0,0.0
86,2015-01-01,4,AA,DEN,DFW,05:30:00,06:23:00,53.0,32.0,06:55:00,125.0,138.0,96.0,641,09:31:00,10.0,08:35:00,09:41:00,66.0,13.0,0.0,53.0,0.0,0.0

In [37]:
delays.ARRIVAL_DELAY.min()

15.0

In [38]:
delays.dtypes

FLIGHT_DATE            datetime64[ns]
DAY_OF_WEEK                    object
AIRLINE                        object
ORIGIN_AIRPORT                 object
DESTINATION_AIRPORT            object
SCHEDULED_DEPARTURE            object
DEPARTURE_TIME                 object
DEPARTURE_DELAY               float64
TAXI_OUT                      float64
WHEELS_OFF                     object
SCHEDULED_TIME                float64
ELAPSED_TIME                  float64
AIR_TIME                      float64
DISTANCE                        int64
WHEELS_ON                      object
TAXI_IN                       float64
SCHEDULED_ARRIVAL              object
ARRIVAL_TIME                   object
ARRIVAL_DELAY                 float64
AIR_SYSTEM_DELAY              float64
SECURITY_DELAY                float64
AIRLINE_DELAY                 float64
LATE_AIRCRAFT_DELAY           float64
WEATHER_DELAY                 float64
dtype: object

# working with cancellations dataframe

A - Airline/Carrier; B - Weather; C - National Air System; D - Security

In [39]:
cancels.head(15)

,FLIGHT_DATE,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,CANCELLATION_REASON
32,2015-01-01,4,AS,ANC,SEA,01:35:00,205.0,1448,06:00:00,A
42,2015-01-01,4,AA,PHX,DFW,02:00:00,120.0,868,05:00:00,B
68,2015-01-01,4,OO,MAF,IAH,05:10:00,87.0,429,06:37:00,B
82,2015-01-01,4,MQ,SGF,DFW,05:25:00,95.0,364,07:00:00,B
90,2015-01-01,4,OO,RDD,SFO,05:30:00,90.0,199,07:00:00,A
128,2015-01-01,4,MQ,CHS,DFW,05:45:00,190.0,987,07:55:00,B
131,2015-01-01,4,OO,SMX,LAX,05:45:00,66.0,134,06:51:00,A
147,2015-01-01,4,MQ,ABI,DFW,05:50:00,55.0,158,06:45:00,B
166,2015-01-01,4,MQ,XNA,DFW,05:55:00,75.0,280,07:10:00,B
206,2015-01-01,4,AA,DCA,DFW,06:00:00,215.0,1192,08:35:00,B
210,2015-01-01,4,AA,LGA,DFW,06:00:00,245.0,1389,09:05:00,B
213,2015-01-01,4,AA,MCO,DFW,06:00:00,185.0,985,08:05:00,B
214,2015-01-01,4,AA,SFO,DFW,06:00:00,210.0,1464,11:30:00,B
265,2015-01-01,4,AA,ONT,DFW,06:00:00,180.0,1188,11:00:00,B
297,2015-01-01,4,F9,MSO,DEN,06:00:00,120.0,679,08:00:00,A