In [1]:
import pandas as pd
import numpy as np
flights = pd.read_csv('C:/Users/regi_/Downloads/flights.csv') #remove later

c:\users\regi_\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
flights.isna().sum()

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

In [4]:
columns = ["AIR_SYSTEM_DELAY", "SECURITY_DELAY", "AIRLINE_DELAY", "LATE_AIRCRAFT_DELAY", "WEATHER_DELAY", "DEPARTURE_DELAY", "ELAPSED_TIME", "AIR_TIME"]
flights[columns] = flights[columns].fillna(0)

In [5]:
flights["CANCELLATION_REASON"] = flights["CANCELLATION_REASON"].fillna("N")

In [6]:
flights = flights.drop(["YEAR", "TAIL_NUMBER", "WHEELS_ON", "WHEELS_OFF"], axis=1)

In [7]:
flights = flights[np.isfinite(flights["SCHEDULED_TIME"])]

In [8]:
cols = ["DEPARTURE_TIME", "TAXI_OUT", "TAXI_IN", "ARRIVAL_TIME", "ARRIVAL_DELAY"]
flights[cols] = flights[cols].fillna(0)

In [9]:
def to_time(x):
    x = str(x)
    k = x.split(".")[0]
    hour = k[:-2]
    if hour == '':
        hour = '00'
    minute = k[-2:]
    second = '00'
    #second = x.split(".")[1]
    time = "{:02.0f}:{:02.0f}:{:02.0f}".format(int(hour), int(minute), int(second))
    return time

In [10]:
flights["SCHEDULED_DEPARTURE"] = flights["SCHEDULED_DEPARTURE"].astype('float')
flights["SCHEDULED_ARRIVAL"] = flights["SCHEDULED_ARRIVAL"].astype('float')
flights["SCHEDULED_ARRIVAL"] = flights["SCHEDULED_ARRIVAL"].apply(to_time)
flights["SCHEDULED_DEPARTURE"] = flights["SCHEDULED_DEPARTURE"].apply(to_time)

In [11]:
flights["DAY_OF_WEEK"] = flights["DAY_OF_WEEK"].astype('str') #convert into categorical

In [12]:
flights["ARRIVAL_TIME"] = flights["ARRIVAL_TIME"].apply(to_time)
flights["DEPARTURE_TIME"] = flights["DEPARTURE_TIME"].apply(to_time)

In [13]:
pd.set_option('display.max_columns', None)
flights.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,1,1,4,AS,98,ANC,SEA,00:05:00,23:54:00,-11.0,21.0,205.0,194.0,169.0,1448,4.0,04:30:00,04:08:00,-22.0,0,0,N,0.0,0.0,0.0,0.0,0.0
1,1,1,4,AA,2336,LAX,PBI,00:10:00,00:02:00,-8.0,12.0,280.0,279.0,263.0,2330,4.0,07:50:00,07:41:00,-9.0,0,0,N,0.0,0.0,0.0,0.0,0.0
2,1,1,4,US,840,SFO,CLT,00:20:00,00:18:00,-2.0,16.0,286.0,293.0,266.0,2296,11.0,08:06:00,08:11:00,5.0,0,0,N,0.0,0.0,0.0,0.0,0.0
3,1,1,4,AA,258,LAX,MIA,00:20:00,00:15:00,-5.0,15.0,285.0,281.0,258.0,2342,8.0,08:05:00,07:56:00,-9.0,0,0,N,0.0,0.0,0.0,0.0,0.0
4,1,1,4,AS,135,SEA,ANC,00:25:00,00:24:00,-1.0,11.0,235.0,215.0,199.0,1448,5.0,03:20:00,02:59:00,-21.0,0,0,N,0.0,0.0,0.0,0.0,0.0

In [ ]:
flights.to_csv("flights.csv")